body {
    background-color:wheat;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header {
    background-color: white;
    margin: 0 auto;
    padding: 5px;
}

h1 {
    text-align: center;
    color:rgb(252, 52, 52);
    font-weight: bold;
}

blockquote {
    text-align: center;
    background-color: papayawhip;
    padding: 20px;
    border: 1px dashed black;
}

#soekarno {
    font-weight: bold;
}

.ahref {
    text-align: center;
    padding: 20px;
}

.ahref a {
    margin:0 3px;
}

.gambar {
    justify-content: center;
    margin-left:30%;
}
 
.gambar img {
    width: 30%;
}

.koleksi {
    background-color: papayawhip;
    padding:0 auto;
}

.koleksi img {
    width: 24%;
}

.promo  {
    background-color: white;
    border: 2px solid rgb(241, 180, 99);
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

.promo h3 {
    background-color: antiquewhite;
    width: 50%;
    margin: 0 auto;
    border: 1px solid rgb(252, 52, 52);
    padding: 10px 0;
}

.Besar {
    font-size: 50px;
    color: rgb(252, 52, 52);
    display: inline;
}