body{
    background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    text-align: center;
    color: lightseagreen;
}

p{
    text-align: justify;
    width: fit-content;
}

.center{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.foto{
    background-color: white;
}

.foto img{
    width: 23%;
}

.cod{
    margin: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.cod p{
    background-color: blanchedalmond;
    border: 1px dashed rgb(235, 114, 114);
    text-align: center;
    font-weight: bold;
    color: blue;
    margin: 0 auto;
}

.promo{
    color: lightseagreen;
    text-align: center;
}

button{
    background-color: yellow;
    color: red;
    border: 0;
}

#tombol{
    text-align: center;
}

.buah{
    background-color: rgb(98, 184, 179);
    border: 1px dashed black;
    list-style-type: none;
    padding: 20px;
    color: white;
}

.li1{
    float: none;
}

.li2{
    margin-left: 350px;
    float: none;
}

.li3{
    margin-left: 550px;
    margin-top: -115PX;
    float: none;
}

.li4{
    margin-left: 850px;
    float: none;
}


table{
    border: 1px solid lightseagreen;
    border-collapse: collapse;
    margin-top: 30px;
    margin-left: 490px;
}

thead{
    background-color: lightseagreen;
    text-align: center;
    color: white;
    border: 1px solid lightseagreen;
    font-weight: bold;
}

tbody{
    color: black;
}

.tr2{
    border: 1 px solid lightseagreen;
    background-color: lightblue;
    text-align: center;
}

.tr3{
    border: 1px solid lightseagreen;
    background-color: white;
    text-align: center;
}


.tr4{
    border: 1px solid lightseagreen;
    background-color: lightblue;
    text-align: center;
}


.tr5{
    border: 1px solid lightseagreen;
    background-color: white;
    text-align: center;
}

td{
    border: 1px solid lightseagreen;
}

.td1{
    font-weight: bold;
    text-align: center;
}